<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="connection.url">jdbc:mysql://34.66.215.70:3306/railwayway</property>
    <property name="connection.driver_class">com.mysql.cj.jdbc.Driver</property>
    <property name="connection.username">talgat</property>
    <property name="connection.password">123456789</property>
    <property name="hibernate.hbm2ddl.auto">update</property>
    <mapping class="kz.edu.nu.cs.se.models.entities.EmployeeEntity"/>
    <mapping class="kz.edu.nu.cs.se.models.entities.LegInstanceEntity"/>
    <mapping class="kz.edu.nu.cs.se.models.entities.RailcarEntity"/>
    <mapping class="kz.edu.nu.cs.se.models.entities.RoleEntity"/>
    <mapping class="kz.edu.nu.cs.se.models.entities.RouteEntity"/>
    <mapping class="kz.edu.nu.cs.se.models.entities.RouteLegEntity"/>
    <mapping class="kz.edu.nu.cs.se.models.entities.ScheduleEntity"/>
    <mapping class="kz.edu.nu.cs.se.models.entities.SeatEntity"/>
    <mapping class="kz.edu.nu.cs.se.models.entities.StationEntity"/>
    <mapping class="kz.edu.nu.cs.se.models.entities.TicketEntity"/>
    <mapping class="kz.edu.nu.cs.se.models.entities.TicketRouteEntity"/>
    <mapping class="kz.edu.nu.cs.se.models.entities.TrainEntity"/>
    <mapping class="kz.edu.nu.cs.se.models.entities.UserEntity"/>

  </session-factory>
</hibernate-configuration>